/* Global */
p {
  font-family: "Mirza", cursive;
  /* font-size: 18px; */
  direction: rtl;
}

/* ----------------------------- */
/* .card {
  width: 307px;
} */

.title {
  text-align: start;
  padding: 8px;
  background-color: #f6f6f6;
}

/* .card::before {
  content: "";
  position: absolute;
  right: -1px;
  background-color: #fcba03;
  width: 6px;
  height: 43%;
  top: -18px;
  z-index: 1;
} */

/* .btn {
} */
.books-department {
  padding: 6px;
  margin-top: -30px;
  list-style: none;
  margin-bottom: -15px;
}

/* .books-department .department a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black;
} */
.links {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black;
}

.books-department .links:hover {
  color: #b91d23;
}

.name::before {
  content: "";
  position: absolute;
  right: -1px;
  background-color: #fcba03;
  width: 6px;
  height: 8%;
  top: -1px;
  z-index: 1;
}

.name1::before {
  content: "";
  position: absolute;
  right: -1px;
  background-color: #fcba03;
  width: 6px;
  height: 28%;
  top: -1px;
  z-index: 1;
}

.name2::before {
  content: "";
  position: absolute;
  right: -1px;
  background-color: #fcba03;
  width: 6px;
  height: 45%;
  top: -1px;
  z-index: 1;
}

.filter {
  display: flex;
  justify-content: end;
}
