<link
  href="https://fonts.googleapis.com/css2?family=Mirza&display=swap"
  rel="stylesheet"
/>

<div class="card">
  <div class="name1">
    <p class="title">البحث في الكتب</p>
  </div>
  <!-- [(ngModel)]="Title"
      [(ngModel)]="title"
      (input)="Search()" -->
  <div class="card-body">
    <div class="row">
      <div class="input-group">
        <input
          type="search"
          class="form-control rounded"
          placeholder="البحث عن منتجات...."
          aria-label="Search"
          aria-describedby="search-addon"
        />
        <div class="btn">
          <button type="button" class="btn btn-danger">بحث</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="name2">
    <p class="title">فلتر علي حسب السعر</p>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="custom-slider">
        <ngx-slider
          [(value)]="minValue"
          [(highValue)]="maxValue"
          [options]="options"
        ></ngx-slider>
      </div>
      <div class="fliter">
        <button type="button" style="width: 100px" class="btn btn-danger btn">
          تصفية
        </button>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="name">
    <p class="title">اقسام الكتب</p>
  </div>
  <div class="card-body">
    <div class="row">
      <ul class="books-department">
        <li>
          <a
            class="links"
            (click)="getCatBooks('6172179ce9ef8ab21a899d85')"
            routerLink="/categories/acadimic/home-economics"
            >الاقتصاد المنزلي</a
          >
        </li>
        <li>
          <a
            class="links"
            (click)="getCatBooks('617217eae9ef8ab21a899d8c')"
            routerLink="/categories/diplomas/management-economy"
            >الإقتصاد و الإدارة</a
          >
        </li>
        <li>
          <a
            class="links"
            (click)="getCatBooks('6172181be9ef8ab21a899d92')"
            routerLink="/categories/diplomas/sociology"
            >علم مجتمع</a
          >
        </li>
        <li>
          <a
            class="links"
            (click)="getCatBooks('617217cfe9ef8ab21a899d8a')"
            routerLink="/categories/graduate/arts-humanities"
            >الآداب و العلوم الانسانية</a
          >
        </li>
        <li>
          <a
            class="links"
            (click)="getCatBooks('61721810e9ef8ab21a899d90')"
            routerLink="/categories/graduate/economics-management"
            >إدراة و اقتصاد</a
          >
        </li>
        <li>
          <a
            class="links"
            (click)="getCatBooks('617217fce9ef8ab21a899d8e')"
            routerLink="/categories/graduate/sciencial"
            >التعليم الخاص</a
          >
        </li>
        <!-- <li class="links"><a href="#">الحقوق والعلوم</a></li>
        <li class="department"><a href="#">السياسة</a></li>
        <li class="department"><a href="#">العلوم</a></li>
        <li class="department"><a href="#">التربية</a></li>
        <li class="department"><a href="#">السنه التحضيرية</a></li> -->
      </ul>
    </div>
  </div>
</div>
