*{
  direction:rtl;
}
form{
    margin: auto;
    /* background-color: rgb(75, 75, 2); */
    /* color: white; */
}
h2{
   text-align: center;
   color: white;
   text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
a{
    color:white;
    text-decoration: none;
}
