<link href="https://fonts.googleapis.com/css2?family=Mirza&display=swap" rel="stylesheet">


<!-- Footer -->
<footer class=" text-center text-white" style="background-color: #dddddd;">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-facebook"></i></a>



      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-instagram"></i></a>
      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-github"></i></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->

          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" placeholder="أدخل بريدك الالكتروني..." />
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-danger mb-4">
              اشترك الان
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->



    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
          <div class="head">
            <h5 class="text-black">معلوماتي</h5>
          </div>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-black">طلبات شراء</a>
            </li>
            <li>
              <a href="#!" class="text-black">التحميلات</a>
            </li>
            <li>
              <a href="#!" class="text-black">العناوين</a>
            </li>
            <li>
              <a href="#!" class="text-black">معلومات الحساب</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
          <h5 class="text-black">موارد أخري</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-black">من نحن</a>
            </li>
            <li>
              <a href="#!" class="text-black">الشروط والاحكام</a>
            </li>
            <li>
              <a href="#!" class="text-black">سياسة الخصوصيه</a>
            </li>
            <li>
              <a href="#!" class="text-black">سياسة الارسال والاستبدال</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #1a1a1d;">
    جميع الحقوق محفوظه لدينا © 2021
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
