<app-header></app-header>
<div id="parent" class='pt-5'>
  <!-- alert for update data successfully -->
  <div *ngIf="isLoginSuccess" class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>عمل جيد</strong> تم تسجيل دخولك بنجاح
    <button type="button" (click)="hide()" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <!-- alert for error update -->
  <div *ngIf="isLoginError" class="alert alert-primary alert-dismissible fade show" role="alert">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
        class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
      </svg> برجاء التأكد من المعلومات الخاصة بك والمحاولة مرة أخرى
      <button type="button" (click)="hide()" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <button type="button" (click)="hide()" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

  <!-- Start Login From -->
  <form [formGroup]="form" class="mt-5">
    <div class="mb-3">
      <label for="exampleInputemail1" class="form-label text-light">البريد الالكترونى</label>
      <input type="email" class="form-control" name='email' formControlName="email">

      <div
        *ngIf="form.controls.email.invalid && isLogged || (form.controls.email.dirty || form.controls.email.touched)">
        <small class="text-danger fw-bold mb-3 " *ngIf="form.controls.email.hasError( 'required') ">هذا الحقل
          مطلوب</small>
        <small class="text-danger fw-bold mb-3 " *ngIf="form.controls.email.hasError( 'minlength') ">هذا الحساب غير
          صالح</small>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputpassword1" class="form-label text-light">الرقم السرى</label>
      <input type="password" class="form-control" formControlName='password'>
      <div
        *ngIf="form.controls.password.invalid && isLogged || (form.controls.password.dirty || form.controls.password.touched)">
        <small class="text-danger fw-bold mb-3 " *ngIf="form.controls.password.hasError( 'required') ">هذا الحقل
          مطلوب</small>
        <small class="text-danger fw-bold mb-3 " *ngIf="form.controls.password.hasError( 'minlength') ">الحد الأدنى هو 8
          أحرف</small>
      </div>
    </div>
    <div class="submit text-center mt-2 pt-2">
      <button type="submit" (click)='login()' [ngClass]="{'bg-success text-light' : form.valid}"
        class="btn text-light fw-bold  w-75">تأكيد</button><br>
    </div>
  </form>

  <!-- Register Link -->
  <div class="new-patreon text-center">
    <p class="h6 text-light">هل نسيت كلمة السر؟ <a routerLink="/auth/register">إنشاء حساب</a></p>
  </div>

</div>
