* {
  direction: rtl
}

body {
  margin: 0%;
  padding: 0%;
}

form {
  margin: auto;
  /* border: 1px solid rgb(143, 243, 143); */
  width: 40%;
  padding: 20px;
  /* height: 400px; */
}

button[type='submit'] {
  background-color: #654530;
}

#parent {
  background-image: url('/assets/images/login3.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.form-label {
  font-size: 25px;
}

input {
  height: 50px
}

small {
  color: red;
}
